*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Open Sans', sans-serif;
   
}

.navbar{
    background-color: rgb(11, 11, 11);
    height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    top: 1;
    width: 100%;
    z-index: 4;

    .hamburger{
        position: absolute;
        right: 2rem;
        top: 1.1rem;
        font-size: 2rem;
        display: none;
    }
    

    .nav-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 75rem;
        margin-inline: 2rem;
        height: 100%;

        .logo{
            font-size: 1.4rem;
            font-weight: bold;
        }
    }

    

    .right-side-nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;

        .navlist{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            gap:2rem;

            a{
                color: white;
            }
            a:hover{
                color: rgb(87, 88, 224);
                transition: all .3s ease;
                cursor: pointer;
            }
        }

    }

    .icon-section{
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        font-size: 1.3rem;
    }

    .icon-section i:hover{
        color: rgb(87, 88, 224);
        transition: all .4s ease;
        cursor: pointer;
    }
    .explore-btn{
        border: 2px solid #5758e0;
        display: block;
        width: 12rem;
        padding: .7rem;
        text-align: center;
        font-size: 1.1rem;
        color: white;


        .rocket{
            margin-right: 1.2rem;
        }

    }




}
.explore-btn:hover{
    background-color: #0093E9;
background-image: linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);

border: none;



}


.hero-banner{
    background: url(./images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7rem 0;
    height:100vh;


    .hero-container{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        color: white;

        .hero-heading{
            font-size: 5.5rem;
            text-transform:uppercase;
            letter-spacing: 3px;
            font-weight: 900;
            // line-height: 7rem;
            background:  linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);
            text-transform: uppercase;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            
            
        }

        .hero-body{
            font-size: 1.4rem;
            width: 57rem;
            margin-top: 1.5rem;
            color: grey;
        }

        .start-btn{
            margin-top: 4rem;
            width: 12rem;
            padding: .9rem;
            font-size: 1rem;
            background-color: #5758e0;
            color: white;
            border: none;

            .plane{
                margin-right: .5rem;
                font-size: 1.2rem;
            }
        }
}
}
.start-btn:hover{
    cursor: pointer;
    background:  linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);
}


.open{
    top: 5rem;
    transition: all .3s ease;
}

.container{
    background-color: #111111;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 75%;
    font-family: 'Open Sans', sans-serif;
}

.card{
    width: 22rem;
    height: 19rem;
    background-color: rgb(25, 25, 25);;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    text-align: center;
}

.card-icon{
    font-size: 2.5rem;
    background:  linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);
            text-transform: uppercase;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            margin-bottom: .3rem;
}
.title{
    color: white;
    font-size: 1.6rem;
    font-weight: 500;
}
.card-body{
    color: grey;
    font-size: 1.1rem;

}

.read-more-in-card{
    font-size: 1.5rem;
    margin-top: .7rem;
    color: grey;

}

.card:hover{
    background:  linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);
    cursor: pointer;
    color: white;
    transform: scale(1.1);
    transition: all .3s ease;
}


.about-container{
    background-color:rgb(25, 25, 25);
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




.about-block{
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.5rem;
    margin-inline: 1rem;

}

.left-side img{
    width: 33rem;
    
}


.right-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    
}

.gradient-line{
    height: 6px;
    width: 5rem;
    background:  linear-gradient(90deg, #0093E9 27%, #95ccf7 100%);
}

.about-title{
    font-size: 2.5rem;
    color: white;
    font-weight: 400;
}
.about-body{
    font-size: 1rem;
    color: rgb(142, 140, 140);
    line-height: 25px;
    font-weight: lighter;
    margin-top: 1rem;
}



.more-about{
    background-color: #111111;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-about-container{
    width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-inline: 2rem ;

}
#more-about-left-side{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.more-about-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 3rem;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

.row-left img{
    width: 3.5rem;
}

.subtitle{
    color: white;
    font-weight: 400;
}
.row-body{
    color: grey;
    margin-top: 1.5rem;
}


#more-about-right-side img{
    width:35rem;

}

.features-section{
    background-color: black;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.features-title{
    color: white;
    font-size: 2.5rem;
}
.features-text{
    color: grey;
    margin-top: 1.4rem;
    font-size: 1.1rem;
    margin: 1.4rem 1rem;
}

.features-col{
    width: 74%;
 
}
.feature-row{
    width: 100%;
    height: 4.2rem;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2rem;
    margin-top: 1rem;
}

.feature-row:hover{
    cursor: pointer;
}
.feature-row i{
    font-size: 1.5rem;
    font-weight: 400;
    color: #0093E9;
    transition: all .5s ease;
}
.rotate{
    color: #0093E9;
    transform:rotate(45deg);
    

}
.feature-title{
    font-size: 1.1rem;
    color: grey;
}
.feature-body{
    color: grey;
    padding: 1.5rem;
    line-height: 25px;
    display: none;
    text-align: left;
}
.slide{
    border-bottom: 2px solid #0093E9;
}

.portfolio-section{
    background-color: #111111;
    padding: 5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;
}

.portfolio-box{
    width: 74%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.text{
    margin-bottom: 3rem;
    width: 40%;
    text-align: center;
}

.p-card{
    width: 22rem;
    height: 30rem;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    position: relative;
    cursor: pointer;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.p-card-body{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100rem;
    background:  linear-gradient(to top, #0093E9 27%, #52b1fa 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 2rem;
    text-align: center;
    transition: all .6s ease;
}
.p-card:hover .p-card-body{
    cursor: pointer;
    left: 0rem;

}

.text-bold{
    font-size: 1.4rem;
    line-height: 2.5rem;
    width: 80%;
    margin: 2rem auto;
    color: white;
    font-weight: 600;
}
.black-border{
    height: .1rem;
    padding: .1rem;
    background-color: rgb(255, 255, 255);
    margin-inline: 1rem;
}

.text-light{
    margin-top: 2rem;
    color: wheat;
    width: 70%;
    margin-inline: auto;
}

.testimonial-section{
    padding: 4rem 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}
.t-title{
    font-size: 2.5rem;
    color: white;
    margin-bottom: .5rem;
}
.t-text{
    color: grey;
    margin-bottom: 2.3rem ;
    font-size: 1.1rem;
}

.testimonial-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.t-card{
    width: 29rem;
    background-color:#191919;
    height: 23rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    flex-direction: column;
}
.img-box{
    margin-bottom: 2rem;
    width: 7rem;
    height: 7rem;
    border-radius: 50rem;
    position: relative;
}
.star-section{
    margin-top: 2.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    
}

.star-section i{
    font-size: 1.4rem;
    color: #0093E9;

}

.img-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50rem;
}

.name{
    font-size: 1.4rem;
    font-weight: 500;
    color: white;
}

.review{
    color: grey;
    font-size: 1.1rem;
}

.contact-us-section{
    padding: 9rem 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

}


.this-img{
    width: 35rem;
}
.texxt{
    font-weight: 400;
    margin-top: .4rem;
}
.m-text{
    margin: .5rem 1rem;
    color: grey;
    font-size: 1.1rem;
    text-align: center;
}

.contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 70rem;
    margin: auto;
    height: 30rem;
    font-size: 1.2rem;
    border-radius: 2px;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    height: 100%;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}
.input{
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    border: 3px solid #191919;
    background: none;
    border-radius: 5px;
    color: grey;

}

.contact-btn{
    width: 10rem;
    background-color:#5758e0;
    padding: 1rem;
    border: none;
    color: white;
    margin-top: .5rem;
}

.map-container{
    height: 30rem;
   
}

.iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}



.contact-card-section{
    padding: 5rem 0;
    background-color: #111111;
}

.contact-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    margin: 0 3rem;

}
.c-card{
    width: 23rem;
    background-color: #191919;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.c-card:hover{
    cursor: pointer;
}
.c-card img{
    
    width: 3rem;
    margin-bottom: .5rem;

}
.c-card-title{
    font-size: 1.6rem;
    margin-bottom: 1rem;
    color: white;
}

.c-card-body{
    font-size: 1.1rem;
    width: 80%;
    color: grey;
}
.c-card i{
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: gray;
}

.footer{
    background-color: black;
    height: 6rem;
    color: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
    flex-wrap: wrap;
}

.link{
    color: #0093E9;
}
